@charset "utf-8";

.navbar {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  padding: 10px;
}

.navbar h1 {
  color:#333;
  font-size: 42px;
  margin: 16px 36px;
}

.navbar a {
  text-decoration: none;
}

.nav-item {
  margin: 0 16px;
}

.nav-item a {
  text-decoration: none;
  display: block;
  padding: 4px 16px;
  color: #333;
  transition: 0.3s;
}

.nav-item a:hover {
  color: #fff;
  background-color: #333;

}

table, th, td {
  border : 1px solid #000;
  border-collapse : collapse;
  padding : 8px;
}

nav a {
  margin-right: 18px;
}

select, input {
  width: 200px;
}